<!--
The template defines the view of the component - what is actually rendered. 
In NativeScript applications the template is defined with XML using NativeScript UI elements. 
It is different from HTML. So instead of <input>, <span>, <div> etc. - we have <TextField>, <Label> and layouts.
The important thing is that although the elements are different - all of the Angular’s template syntax works exactly the same. 
So you can still use template expressions, bindings, templates as well as all the built-in directives.
-->

<!--
The ActionBar is the NativeScript common abstraction over the Android ActionBar and iOS NavigationBar.
http://docs.nativescript.org/ui/action-bar
-->

<ActionBar style="margin-top: 50px;" title="{{ 'CoinCalculatorTitle' | translate }}" class="action-bar">
    <ActionItem ios.position="right" ios.systemIcon="4" (tap)="createPressed()" [visible]="createButtonVisible"></ActionItem>
</ActionBar>

<!--
The StackLayout stacks UI components on the screen — either vertically or horizontally.
In this case, the StackLayout does vertical stacking; you can change the stacking to
horizontal by applying a orientation="horizontal" attribute to the <StackLayout> element.
You can learn more about NativeScript layouts at https://docs.nativescript.org/ui/layout-containers.

These components make use of several CSS class names that are part of the NativeScript
core theme, such as p-20, btn, h2, and list-group. You can view a full list of the
class names available for styling your app at https://docs.nativescript.org/ui/theme.
-->
<!-- 100px für iPhone X; 50px für den Rest -->
<TabView [style.margin-bottom]="tabBarMargin" class="tab-view" [(ngModel)]="tabSelectedIndex" selectedColor="#FF0000">
    <!--<ng-template tabItem title="Calculation">
        <StackLayout>
            <PullToRefresh (refresh)="onRefreshTriggered($event)">
                <ScrollView>
                    <StackLayout class="page">
                        <StackLayout class="page form p-15">
                            <StackLayout *ngFor="let calcResultGeneral of calcResultsGeneral">
                                <Label class="label font-weight-bold m-b-5" [text]="calcResultGeneral.description"></Label>
                                <TextField isEnabled="false" class="input input-rounded m-b-10" [text]="calcResultGeneral.result"></TextField>
                            </StackLayout>
                            <Label *ngIf="calcResultsGeneral.length == 0" text="No Calculation Fields defined"></Label>
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </PullToRefresh>
        </StackLayout>
    </ng-template>-->

    <ng-template tabItem title="{{ 'tabCalculations' | translate }}">
        <StackLayout>
            <PullToRefresh (refresh)="onRefreshTriggered($event)">
                <ScrollView>
                    <StackLayout class="page form p-15">
                        <!--<StackLayout>
                            <Label text="" class="label font-weight-bold m-b-5"></Label>
                            <TextField isEnabled="false" class="input input-rounded m-b-10" [text]="calcResultOverall"></TextField>
                        </StackLayout>-->
                        <StackLayout *ngFor="let calcResult of calcResultsPortfolios">
                            <GridLayout columns="*,auto,auto" rows="*,*">
                                <Label row="0" col="0" class="label font-weight-bold m-b-5" [text]="calcResult.description"></Label>
                                <!--<Button row="0" col="1" text="Edit" style="text-align: right; margin-right: 10px;" (tap)="calcResultEdit(calcResult)"></Button>-->
                                <Button row="0" col="2" text="Delete" style="text-align: right" (tap)="calcResultDelete(calcResult)"></Button>

                                <TextField row="1" colSpan="3" isEnabled="false" class="input right" [text]="calcResult.result"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <Label *ngIf="calcResultsPortfolios.length == 0" text="{{ 'textNoCalcFieldsDefined' | translate }}"></Label>
                    </StackLayout>
                </ScrollView>
            </PullToRefresh>
        </StackLayout>
    </ng-template>


    <ng-template tabItem title="{{ 'tabPortfolio' | translate }}">
        <StackLayout>
            <PullToRefresh (refresh)="onRefreshTriggered($event)">
                <ScrollView>
                    <StackLayout class="page form p-15">
                        <Label text="{{ 'textNoPortfolioData' | translate }}" *ngIf="coinPortfolio.length == 0"></Label>
                        <StackLayout *ngFor="let portfolioItem of coinPortfolio">
                            <GridLayout columns="*,2*" rows="*,auto">
                                <Label row="0" col="0" class="label font-weight-bold m-b-5" [text]="portfolioItem.portfolioItemDescription"></Label>
                                <Button row="0" col="1" style="text-align: right" text="Delete" (tap)="portfolioItemDelete(portfolioItem)"></Button>

                                <TextField row="1" colSpan="2" class="input input-rounded m-b-10" (ngModelChange)="onPortfolioItemQuantityChange($event, portfolioItem)"
                                    [ngModel]="portfolioItem.quantity"></TextField>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </PullToRefresh>
        </StackLayout>
    </ng-template>


    <ng-template tabItem title="{{ 'tabPriceInfo' | translate }}">
        <StackLayout>
            <PullToRefresh (refresh)="onRefreshTriggered($event)">
                <ScrollView>
                    <StackLayout class="page form p-15">
                        <Label style="margin-bottom: 10px" class="label font-weight-bold m-b-10" text="Bitstamp"></Label>
                        <StackLayout *ngFor="let price of currencyPricesBitstamp">
                            <GridLayout columns="*,2*" rows="*,*">
                                <Label row="0" col="0" class="label font-weight-bold m-b-5" [text]="price.currencyPriceDescription"></Label>
                                <Button row="0" col="1" style="text-align: right" text="Delete" (tap)="currencyPriceDelete(price)"></Button>

                                <TextField row="1" colSpan="2" class="input right" isEnabled="false" [text]="price.price"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <Label *ngIf="currencyPricesBitstamp.length == 0" text="{{ 'textNoPricesBitstamp' | translate }}"></Label>

                        <Label style="margin-top: 40px; margin-bottom: 10px" class="label font-weight-bold m-b-10" text="Bitfinex"></Label>
                        <StackLayout *ngFor="let priceBitfinex of currencyPricesBitfinex">
                            <GridLayout columns="*,2*" rows="*,*">
                                <Label class="label font-weight-bold m-b-5" [text]="priceBitfinex.currencyPriceDescription"></Label>
                                <Button row="0" col="1" style="text-align: right" text="Delete" (tap)="currencyPriceDelete(priceBitfinex)"></Button>

                                <TextField row="1" colSpan="2" class="input right" isEnabled="false" [text]="priceBitfinex.price"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <Label *ngIf="currencyPricesBitfinex.length == 0" text="{{ 'textNoPricesBitfinex' | translate }}"></Label>
                    </StackLayout>
                </ScrollView>
            </PullToRefresh>
        </StackLayout>
    </ng-template>
</TabView>