<StackLayout class="page form p-15">
    <Label class="label font-weight-bold m-b-10" text="Symbol:"></Label>
    <TextField class="input input-rounded m-b-10" [(ngModel)]="symbol"></TextField>

    <Label class="label font-weight-bold m-b-10" text="Portfolio Item Technical Name:"></Label>
    <TextField class="input input-rounded m-b-10" [(ngModel)]="technicalName"></TextField>

    <Label class="label font-weight-bold m-b-10" text="Portfolio Item Description:"></Label>
    <TextField class="input input-rounded m-b-10" [(ngModel)]="description"></TextField>

    <Label class="label font-weight-bold m-b-10" text="Quantity:"></Label>
    <TextField class="input input-rounded m-b-10" [(ngModel)]="quantity"></TextField>

    <Label class="label font-weight-bold m-b-10" text="Platform:"></Label>
    <TextField class="input input-rounded m-b-10" [(ngModel)]="portfolio"></TextField>

    <Button class="btn btn-primary" (tap)="onCreatePortfolioItem()" text="Create"></Button>
</StackLayout>