<StackLayout>
    <Label text="Symbol:"></Label>
    <TextField [(ngModel)]="symbol"></TextField>

    <Label text="Portfolio Item Technical Name:"></Label>
    <TextField [(ngModel)]="technicalName"></TextField>

    <Label text="Portfolio Item Description:"></Label>
    <TextField [(ngModel)]="description"></TextField>

    <Label text="Quantity:"></Label>
    <TextField [(ngModel)]="quantity"></TextField>

    <Label text="Platform:"></Label>
    <TextField [(ngModel)]="portfolio"></TextField>

    <Button (tap)="onCreatePortfolioItem()" text="Create"></Button>
</StackLayout>