<StackLayout class="page form p-15">
        <Label class="label font-weight-bold m-b-10" text="Currency Code From:"></Label>
        <TextField class="input input-rounded m-b-10" [(ngModel)]="codeFrom"></TextField>
    
        <Label class="label font-weight-bold m-b-10" text="Currency Code To:"></Label>
        <TextField class="input input-rounded m-b-10" [(ngModel)]="codeTo"></TextField>
    
        <Label class="label font-weight-bold m-b-10" text="Platform:"></Label>
        <TextField class="input input-rounded m-b-10" [(ngModel)]="platform"></TextField>
    
        <Label class="label font-weight-bold m-b-10" text="Description:"></Label>
        <TextField class="input input-rounded m-b-10" [(ngModel)]="description"></TextField>
    
        <Button class="btn btn-primary" (tap)="createCurrencyPrice()" text="Create"></Button>
    </StackLayout>